@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');
*{
    padding:0;
    margin:0;
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins',sans-serif;
}
.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(235,231,231);
}
header .logo ion-icon {
    font-size:50px;
    color:#61DBFB;
    animation :animate 4s infinite linear;
}
@keyframes animate {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
    
}
header .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
header .menu .menu__item {
    margin:0px 30px;
}
.menu__item:hover,.login:hover {
    opacity: 0.5;
}
header .login {
    width: 200px;
    height: 40px;
    background:#61DBFB;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}